<div id="container">
    <div class="bloco" id="observacao">
        <div>
            Observacao: 
        </div>
        Arquivos disponíveis no servidor: a.txt, b.txt, c.txt, d.txt, e.txt<br>
        f.txt, g.txt, h.txt, i.txt, j.txt, k.txt, teste.json, teste.csv
    </div>
    <div class="bloco">
        <input type="text" id="nomeArquivo" placeholder="Insira nome do arquivo">
        <input type="button" onclick="acessarArquivo();" value="Abrir">
    </div>
    <div class="bloco">
        <!-- teste 7: permitir limpar lista de abertos recentemente -->
        <input type="button" value="Esvaziar lista" onclick="limpar();">

        <!-- teste 8: permitir habilitar / desabilitar atualização da lista de abertos recentemente -->
        <input type="button" id="botaoHabilitar" value="Habilitar atualização da lista" onclick="habilitar();" style="display: none;">
        <input type="button" id="botaoDesabilitar" value="Desabilitar atualização da lista" onclick="desabilitar();" >
    </div>
    <div class="bloco">
        <div class="titulo">
            Abertos recentemente:
        </div>
        <div id="listaRecentes">
        </div>
    </div>
    <div class="bloco">
        <div class="titulo">
            Conteudo do arquivo:
        </div>
        <div id="conteudoArquivo"> 
        </div> 
    </div>
    
</div>
<script>

    var nomeArquivo = document.getElementById("nomeArquivo");
    var listaRecentes = document.getElementById("listaRecentes");
    var conteudoArquivo = document.getElementById("conteudoArquivo");
    var botaoHabilitar = document.getElementById("botaoHabilitar");
    var botaoDesabilitar = document.getElementById("botaoDesabilitar");

    //teste 2: recentes armazena os nomes dos arquivos abertos mais recentemente
    var recentes = [];

    //teste 8: permitir habilitar / desabilitar atualização da lista de abertos recentemente
    var habilitarLigado = true;
    function habilitar() {
        habilitarLigado = true;
        botaoHabilitar.style.display = "none";
        botaoDesabilitar.style.display = "";
    }
    function desabilitar() {
        habilitarLigado = false;
        botaoDesabilitar.style.display = "none";
        botaoHabilitar.style.display = "";
    }

    async function acessarArquivo() {

        var nome = nomeArquivo.value;

        //teste 3: verificando o nome do arquivo antes de acessá-lo   
        var validarNomeRegex = /^\w+\.\w+$/;

        if(!validarNomeRegex.test(nome)) {
            alert("Insira um nome valido!");
            return;
        }

        //teste 9: caracteres maiúsculos e minúsculos devem ser considerados similares para o nome dos arquivos
        nome = nome.toLowerCase();

        //teste 6: alertar o usuário quando o arquivo for inexistente ou não puder ser acessado.
        let erro = false;

        //teste 5: acessando e exibindo arquivos do servidor
        await fetch(nome, {method: "get"})
        .then( async (response) => {
            if(response.status != 200) {
                erro = true;
                return;
            }
            var cont = await response.text();
            conteudoArquivo.innerHTML = escapeHtml(cont);
        })
        .catch ( () => {
            erro = true;
            return;
        });

        //teste 6: alertar o usuário quando o arquivo for inexistente ou não puder ser acessado.
        if(erro) {
            alert("Nao foi possivel acessar o arquivo!");
            return;
        }

        //teste 8: habilitarLigado eh false entao nao atualiza lista
        if(!habilitarLigado) return;

        //teste 2: atualizando recentes a cada passo
        let pos = recentes.indexOf(nome);
        if(pos != -1) recentes.splice(pos, 1); 
        recentes = [nome].concat(recentes).splice(0, 10);

        //teste 4: exibindo a lista de recentes em tela aos usuarios
        listaRecentes.innerHTML = "";
        recentes.forEach(element => {
            listaRecentes.innerHTML += `<a onclick="linkClicado('${element}');">${element}</a>`;
        });
    }

    //teste 7: permitir limpar lista de arquivos abertos recentemente
    function limpar() {
        recentes = [];
        listaRecentes.innerHTML = "";
    }

    //teste 11: Abrir arquivos clicando em seus nomes na lista
    function linkClicado(nomeLink) {
        nomeArquivo.value = nomeLink;
        acessarArquivo();
    }

    function escapeHtml(text) {
        return text
        .replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;")
        .replace(/"/g, "&quot;")
        .replace(/'/g, "&#039;");
    }

    
</script>
<style>
    #container {
        height: 100px; width: 100%; 
        display: flex; flex-direction: column; 
        justify-content: space-between; align-items: center;
    }

    /*teste 10: Página com layout mais amigável*/

    #container {
        font-family: fantasy;
    }

    .bloco {
        margin-top: 50px;
    }

    #listaRecentes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        padding: 10px;
        border-radius: 12px;
        outline: none;
        border: solid black 2px;
        font-family: fantasy;
    }

    input[type='button'] {
        background-color: rgba(1, 1, 1, 0.65);
        color: white;
        cursor: pointer;
    }

    input[type='button']:hover {
        background-color: rgba(1, 1, 1, 0.8);
    }

    .titulo {
        font-weight: bold;
        font-size: 20px;
    }

    .bloco .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        cursor: pointer;
    }

    a:hover {
        color: cornflowerblue;
    }

    #observacao {
        display: flex;
        color:gray;
        flex-direction: column;
        align-items: center;
    }

</style>
